html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #434343;
  background-image:linear-gradient(#434343, #282828);
}

a {
   outline: 0;
}

#container {
  height: 100%;
  margin: 0;
}

.looper {
  position: absolute;
}

.progress {
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  opacity: 0.75;
}

.mixer {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;
}

.trash {
  text-align: center;
  color: #ccc;
  bottom: 10px;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  margin-left: -15px;
}

/*.react-context-menu {
  background-color: #666;
  padding: 5px;
  border: 1px solid #777;
  font-size: 0.8em;
}

.react-context-menu-item {
  padding: 5px;
  border-bottom: 1px solid #777;
}

.react-context-menu-item:last-child{
    border: none;
}

.react-context-menu-link {
  color: #CCC;
  text-decoration: none;
}

.react-context-menu-wrapper {

}

.submenu {

}

.disabled {

}

.active {

}*/

.react-context-menu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
}

.react-context-menu-link {
    display: inline-block;
    width: 75%;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.react-context-menu-link.active,
.react-context-menu-link:hover {
    max-width: 160px;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-decoration: none;
}
.react-context-menu-item.submenu > a {
    padding-right: 27px;
}

.react-context-menu-item.submenu > a:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}
