html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #434343;
  background-image:linear-gradient(#434343, #282828);
}

a {
   outline: 0;
}

.app-container {
  display: inline;
}

#container {
  height: 100%;
  margin: 0;
}

.synth {
  position: absolute;
}

.progress {
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  opacity: 0.75;
}

.mixer {
  /*width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(-45deg, transparent, rgba(255, 255, 255, .1));*/
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  background-size:50px 50px;
}

.axes {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image:
    linear-gradient(0deg, transparent 49.9%, rgba(255, 0, 150, 0.5) 50%, transparent 50.1%, transparent),
    linear-gradient(90deg, transparent 49.9%, rgba(255, 0, 150, 0.5) 50%, transparent 50.1%, transparent);
  background-size: 100% 100%;
}

.trash {
  text-align: center;
  color: #ccc;
  bottom: 10px;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  margin-left: -15px;
}

.synth-editor {
  position: absolute;
  top: -150;
  left: -100;
  padding: 10px;
  background-color: #111;
  border: 1px solid #666;
  opacity: 0.8;
  color: #aaa;
  width: 200px;
  height: 300px;
}

.looper-editor {
  position: absolute;
  top: -150;
  left: -100;
  padding: 10px;
  background-color: #111;
  border: 1px solid #666;
  opacity: 0.8;
  color: #aaa;
  width: 260px;
  height: 60px;
}

.cog {
  color: #666;
  cursor: pointer;
}

.times {
  color: #666;
  cursor: pointer;
  margin-left: 25px;
}

.close-editor {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.slider {
  margin: 10px;
}

.slider-label {
  margin: 15px 10px 10px 10px;
  font-size: 0.75em;
}

.separator {
  margin-top: 20px;
  border-bottom: solid 1px #444;
}

.open-file-input {
  margin-top: 20px;
}

.toolbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  border-bottom: 1px solid #666;
  opacity: 0.8;
  cursor: pointer;
}

.logo {
  color: #aaa;
  padding: 15px;
}

.toolbox-btn {
  color: #aaa;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 100px;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}

.toolbox-btn.looper {
  left: 150px;
  border-left: none;
}

.toolbox-btn.synth:after {
  content: '\223F';
}

.toolbox-btn.looper:after {
  content: '\2707';
}