html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image:linear-gradient(#F1F0EC, #EBE7E4);
}

a {
   outline: 0;
}

.app-container {
  display: inline;
}

#container {
  height: 100%;
  margin: 0;
}

.synth {
  position: absolute;
  width: 70px;
}

.osc {
  font-size: 50px;
  position: relative;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.osc i {
  left: 3.5px;
  top: 1px;
  position: absolute;
}

.anim {
  animation: 3s linear infinite play;
}

.progress {
  box-shadow: 2px 2px 4px #888888;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.75;
  margin-left: 10px;
  cursor: pointer;
}

@keyframes play {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mixer {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  background-color: transparent;
  background-image: 
    linear-gradient(
      0deg,
      transparent 24%,
      rgba(0, 0, 0, .05) 25%,
      rgba(0, 0, 0, .05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, .05) 75%,
      rgba(0, 0, 0, .05) 76%,
      transparent 77%, transparent
    ), 
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(0, 0, 0, .05) 25%,
      rgba(0, 0, 0, .05) 26%,
      transparent 27%, transparent 74%,
      rgba(0, 0, 0, .05) 75%,
      rgba(0, 0, 0, .05) 76%,
      transparent 77%,
      transparent
    );
  background-size:50px 50px;
}

.editor {
  position: absolute;
  top: calc(50% - 277px);
  left: calc(50% - 225px);
  padding: 25px 20px 20px 20px;
  background-image: linear-gradient(135deg, #F1F0EC, #EBE7E4);
  color: #333;
  width: 350px;
  height: 475px;
  max-width: 700px;
  box-shadow: 2px 2px 10px #666;
  border-radius: 15px;
  display: inline-flex;
  z-index: 2;
}

.modules {
  width: 350px;
  display: inline;
}

.settings {
  display: inline;
}

.editor-blanket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.3;
}

.editor-section {
  width: 350px;
  max-width: 350px;
  border-bottom: 1px solid #D8D6D3;
}

.editor-section:last-of-type {
  border-bottom: none;
}

.editor-section-label {
  margin: 10px;
  color: #666;
  font-size: 14px;
}

.control {
  color: #666;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  opacity: 0.75;
}

.control-top {
  top: -10px;
}

.control-bottom {
  top: 48px;
}

.control-right {
  right: -5px;
}

.hide-editor {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.slider {
  margin: 10px;
}

.slider-label {
  margin: 15px 10px 10px 10px;
  font-size: 0.75em;
}

.separator {
  margin-top: 20px;
  border-bottom: solid 1px #444;
}

.open-file-input {
  margin-top: 20px;
}

.toolbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #0074D9;
  border-bottom: 1px solid #666;
  opacity: 0.8;
  cursor: pointer;
}

.logo {
  color: #7FDBFF;
  padding: 15px;
}

.knob-container {
  display: inline-block;
  margin: 10px;
  text-align: center;
  font-size: 0.75em;
  max-width: 65px;
  width: 65px;
  vertical-align: top;
}

.knob {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.knob-navy    {box-shadow: 2px 2px 5px #999; border: 2px solid #001f3f;}
.knob-blue    {box-shadow: 2px 2px 5px #999; border: 2px solid #0074D9;}
.knob-aqua    {box-shadow: 2px 2px 5px #999; border: 2px solid #7FDBFF;}
.knob-teal    {box-shadow: 2px 2px 5px #999; border: 2px solid #39CCCC;}
.knob-olive   {box-shadow: 2px 2px 5px #999; border: 2px solid #3D9970;}
.knob-green   {box-shadow: 2px 2px 5px #999; border: 2px solid #2ECC40;}
.knob-lime    {box-shadow: 2px 2px 5px #999; border: 2px solid #01FF70;}
.knob-yellow  {box-shadow: 2px 2px 5px #999; border: 2px solid #FFDC00;}
.knob-orange  {box-shadow: 2px 2px 5px #999; border: 2px solid #FF851B;}
.knob-red     {box-shadow: 2px 2px 5px #999; border: 2px solid #FF4136;}
.knob-maroon  {box-shadow: 2px 2px 5px #999; border: 2px solid #85144b;}
.knob-fuchsia {box-shadow: 2px 2px 5px #999; border: 2px solid #F012BE;}
.knob-purple  {box-shadow: 2px 2px 5px #999; border: 2px solid #B10DC9;}
.knob-black   {box-shadow: 2px 2px 5px #999; border: 2px solid #111111;}
.knob-gray    {box-shadow: 2px 2px 5px #999; border: 2px solid #AAAAAA;}
.knob-silver  {box-shadow: 2px 2px 5px #999; border: 2px solid #DDDDDD;}

.knob-spinner {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F1F0EC;
  border-radius: 50%;
  z-index: 1;
  align-items: center;

  &:before {
    content: "";
    width: 8px;
    height: 8px;
    margin: 4px;
    border-radius: 50%;
    background: #000;
  }
}

.knob-spinner i {
  font-size: 0.2em;
  margin: 3px;
  color: #888;
}

.knob-value-label {
  position: relative;
  cursor: default;
  color: #666;
  width: 60px;
  height: 17px;
  left: 4px;
  border-radius: 4px;
  padding-top: 2px;
  margin-bottom: 5px;
  border: 1px solid #D8D4D0;
}

.knob-label {
  color: #666;
  margin-bottom: 5px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
